@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div style="background-color:red; min-height: 100% !important; height:100%;">

    <p style="text-align: center; text-indent: 24pt; line-height: normal; font-size: 13pt; font-family: Calibri, sans-serif;">
            <span style="font-size: 9.0pt; font-family: Verdana, sans-serif; color: #333333;">
                tralaalalksdjfsdnflsdmvkjofsdm,xvl;,
                sdf,l;sdsd,l
            </span><br />
        </p>

    @*<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>*@
</div>
